.spinner { 
	background: transparent url('/static/img/spinner.gif') no-repeat center center;
	display: inline-block;
	vertical-align: middle;
	width: 26px;
	height: 26px;
}

.container-main { margin-top: 50px }

.navbar a.brand {
	font-family:Futura,Moderna,Helvetica,sans-serif;
  color:#eee;
  font-weight:normal;
  font-size:18px;
}

.navbar ul.nav i {
	color: #ddd
}

#readings .rlabel {
	display:inline-block;
	width:12%;
	text-align:right;
	margin-right:6px;
	color: #999;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
}

#readings strong {
	font-size: 1.7em;
	line-height: .7em
}

#chart {
	font-size: .8em;
	border-bottom: 1px solid #333;
	position: relative; /*needed for cubism's 'rule' (vertical line) */
}

.horizon {
	border-top: 1px solid #333;
	overflow: hidden;
  position: relative;
}

.horizon canvas { display:block }

.horizon .title, .horizon .value {
	position: absolute;
	top: 0;
	margin:6px 8px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	line-height:40px
}

.horizon .title { left: 0 }
.horizon .value {	right: 0 }

.axis path, .axis line {
	fill: none;
	shape-rendering: crispedges;
	stroke: #000;
}

.axis path {
    display: none;
}
.axis line {
    shape-rendering: crispedges;
    stroke: #000;
}

.line {
    background: none repeat scroll 0 0 #000;
    opacity: 0.2;
    z-index: 2;
}
