<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta http-equiv="Content-Type" content="application/xhtml+xml; charset=UTF-8" />
		<title>Remoht.us</title>
		<meta name="description" content="Remoht.us!" />
		<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no" />
		<link rel="icon" type="image/png" href="/static/favicon.ico" />
		{% if debug %}
		<link href="/static/css/bootstrap.css" rel="stylesheet" />
		<link href="/static/css/bootstrap-responsive.css" rel="stylesheet" />
		<link href="/static/css/font-awesome.css" rel="stylesheet" />
		<link href='/static/css/main.css' rel='stylesheet' />
		{% else %}
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" rel="stylesheet" />
		<link href='/static/css/main.min.css' rel='stylesheet' />
		{% endif %}
   </head>
	 <body>

			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="brand" href="/">Remoht.us</a>
						<ul class='nav'>
							<li>
								<a href='#' id='aboutDlgLink' title='About'>
									<i class='icon-question-sign icon-large'></i></a>
							</li>
							<li>
								<a href='http://github.com/EnerNOC/remoht.us' title='On Github'>
									<i class='icon-large icon-github-alt'></i></a>
							</li>
							<li><span class='spinner' style='display:none;margin-top:6px' /></li>
						</ul>
						{% block header %}
						{% endblock %}
						<div class="nav-collapse collapse pull-right">
							<ul class="nav">
								{% if gae_users.get_current_user() %}
								<li class="">
									<a href='#'>{{ gae_users.get_current_user().email() }}</a>
								</li>
								<li class="">
									<a href="/logout">Logout</a>
								</li>
								{% else %}
								<li class="">
									<a href='{{ gae_users.create_login_url(request_uri) }}'>Login</a>
								</li>
								{% endif %}
							</ul>
						</div>
					</div>
				</div>
			</div>

    	<div class="container container-main">
				{% block main %}
				{% endblock %}
			</div>

			<div id='aboutDialog' class="modal hide fade">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h3>About Remoht.us</h3>
				</div>
				<div class="modal-body">
					<p>This is an open source technology demo that was built for a 
						<a href='http://www.meetup.com/gdg-boston/'>Boston Google Developers</a> meetup at 
						<a href='http://enernoc.com'>EnerNOC</a> in January 2013. The original code was written
						by <a href='http://blog.thomnichols.org'>Thom Nichols</a>.
					</p>
					<p>Remoht.us runs on <a href='https://developers.google.com/appengine/' 
						target='_new'>Google Appengine</a> and incorporates push-based communication to monitor 
						environmental sensors.  The web app uses <a href='http://xmpp.org' target='_new'>XMPP</a> to 
						perform bidirectional communication between the cloud and a <a href='http://www.raspberrypi.org/' 
							target='_new'>Raspberry Pi</a>.  The browser interface receives push updates using AppEngine's
						<a href='https://developers.google.com/appengine/docs/python/channel/' 
						target='_new'>Channel API</a>.
					</p>
					<p>You can read more about the project on the <a href='http://open.enernoc.com/blog/2013/02/27/technology-demo-real-time-control-and-telemetry/' target='_new'>EnerNOC Open blog</a>.  Download the 
					source <a href='http://github.com/EnerNOC/remoht.us' target='_new'>on Github</a>!</p>
				</div>
				<!--
				<div class="modal-footer">
				</div>
				-->
			</div>
			
		{% if debug %}
		{% if _ is mobile %}
		<script type="text/javascript" src='/static/js/lib/zepto.js'></script>
		{% else  %}
		<script type="text/javascript" src='/static/js/lib/jquery-1.8.3.js'></script>
		{% endif %}
		<script type="text/javascript" src='/static/js/lib/bootstrap.js'></script> 
		<script type="text/javascript" src='/static/js/lib/ICanHaz.min.js'></script> 
		<script type="text/javascript" src='/static/js/app.js'></script> 
		{% else %}
		{% if _ is mobile %}
		<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.0rc1/zepto.min.js '></script>
		{% else  %}
		<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.3/jquery.min.js'></script>
		{% endif %}
		<script  type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/bootstrap.min.js"></script>
		<!--
		<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/backbone.js/0.9.9/backbone-min.js'></script>
		-->
		<script type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/ICanHaz.js/0.10/ICanHaz.min.js'></script>
		<script type="text/javascript" src='/static/js/app.min.js'></script> 
		{% endif %}
		{% block more_script %}
		{% endblock %}
		<script type="text/javascript">
			$(document).ready(function() {
				$('#aboutDlgLink').on('click', function(e) {
					$('#aboutDialog').modal()
				})
			})
		</script> 
	</body>
</html>
